.site-header{
    background-color: #1a1a1a !important;
    padding: 20px 60px;
    position: sticky;
    top: 0;
    z-index: 1050;
    @media (max-width: 768px) {
        padding: 20px 20px;
    }
}
.site-header .navbar-brand span {
	font-weight: 700;
}

.site-header .nav-link {
	font-weight: 500;
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
    &:hover {
        color: #c9a65a;
    }
}

.site-header .navbar {
	background-color: #1a1a1a !important;
}

.brand {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    &:hover {
        color: #c9a65a;
    }
}

