.page-fit-out-show {
    .imgs-container{
        max-width: 1500px;
        margin-inline: auto;
        margin-block: 50px;
        padding: 40px;
    }
	.fit-out-gallery {
		display: grid;
		grid-template-columns: repeat(3, 33.33%);
		gap: 30px;
	}
	img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.4s ease;
        &:hover { transform: scale(1.05); }
    }
	@media (max-width: 992px) {
		.fit-out-gallery {
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			gap: 20px;
		}
	}
	@media (max-width: 576px) {
		.fit-out-gallery {
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			gap: 15px;
		}
		img { height: 250px; }
	}
}

